<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cargive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:targetApi="33">

        <!-- IntroActivity를 메인 액티비티로 지정 -->
        <activity
            android:name="com.example.cargive.feat.login.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity와 MainActivity 등 다른 액티비티 선언 -->
        <activity
            android:name="com.example.cargive.feat.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.example.cargive.feat.map.MainActivity"
            android:exported="false" />

    </application>
</manifest>
